/* #region common */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: auto;
}

/* #endregion common */

/* #region utility */
.debug {
    border: 3px solid black;
    min-height: 50px;
    background-color: lightblue;
}

/* #endregion utility */

.position_relative {
    position: relative;
}

/* #region monitor */

.monitor {
    width: 100vw;
    height: 80vh;
    padding: 60px 30px 15px;
    position: relative;
}

.view_control {
    position: absolute;
    top: 15px;
    right: 5px;
}

.speaker,
.zoom_control {
    padding: 5px;
    background-color: gray;
}

.control_bar {
    width: 100vw;
    height: 20vh;
}

.partecipants {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card img {
    height: 100px;
}

.card {
    position: relative;
    margin-right: 5px;
    width: calc(100% / 7);
}

.name {
    color: white;
    background-color: grey;
    padding: 5px;
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 10px;
}

/* #endregion monitor */

/* #region control_bar */
.control_bar {
    background-color: #222;
    display: flex;
}

.col_sx,
.col_dx {
    flex-grow: 1;
    display: flex;
    padding: 5px;
    color: white;
    text-align: center;
}

.col_sx i,
.col_dx i {
    color: white;
    margin-right: 10px;
}

.col_center {
    flex-grow: 6;
}

.mute, .video{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.col_dx{
    background-color: #4A4A4A;
    color: red;
    text-align: center;
}

/* #endregion control_bar */