/* #region common */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: auto;
}

/* #endregion common */

/* #region utility */

/* #endregion utility */

/* #region header */

/* #endregion header */

/* #region main */

/* #endregion main */

/* #region footer */

/* #endregion footer */