/* #region common */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: auto;
}

/* #endregion common */

/* #region utility */
.debug {
    border: 3px solid black;
    min-height: 50px;
    background-color: lightblue;
}

/* #endregion utility */

.position_relative {
    position: relative;
}

/* #region monitor */

.monitor {
    width: 100vw;
    height: 80vh;
    padding: 60px 30px 15px;
    display: flex;
}

.view_control {
    position: absolute;
    top: 15px;
    right: 5px;
}

.speaker,
.zoom_control {
    padding: 5px;
}

.control_bar {
    width: 100vw;
    height: 20vh;
}


/* #endregion monitor */